<sly data-sly-use.footer="com.perficient.adobe.digital.core.sightly.components.PFooter">
    <section class="contact-form ">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <iframe src="http://www2.perficient.com/Rebrand-2016-Form-One-Column-Template" width="100%"
                            scrolling="no" allowtransparency="true" id="7A7496EFAF0F4FAEB4A35B5ADE7C7294"
                            style="border: none; overflow: hidden; height: 660px;"></iframe>
                </div>
            </div>
        </div>
    </section>

    <!-- Begin Contact Overlay -->
    <section>
        <div class="contact-overlay overlay overlay-effect form-footer contact-form ">
            <div class="overlay-container container">
                <div class="row">
                    <div class="col-md-11 col-sm-12">
                        <iframe src="http://www2.perficient.com/Rebrand-2016-Form-One-Column-Template" width="100%"
                                scrolling="no" allowtransparency="true" id="iFrameContact1"
                                style="border: none; overflow: hidden; height: 660px;"></iframe>
                    </div>
                </div>
                <button type="button" class="contact-overlay-close overlay-close">
                    Close
                </button>
            </div>
        </div>
    </section>

    <!-- End Contact Overlay-->

    <section class="footer-icons">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="hidden-sm-down pull-left">
                        <li>
                            <a href="${footer.logoUrl}"> <img src="${footer.logoPath}" alt="${footer.logoAltText}"/>
                            </a>
                        </li>
                        <!-- BEGIN FOOTER NAVIGATION -->

                        <li>
                            <a href="${footer.privacyPolicyURL}">${footer.privacyPolicyText}</a>
                        </li>

                        <!-- END FOOTER NAVIGATION -->
                        <li>
                            ${footer.copyRightNotice}
                        </li>
                    </ul>
                    <!-- Begin Footer Icons-->

                    <ul class="list-unstyled">
                        <li>
                            <a href='http://www.perficient.com/Thought-Leadership/Social-Media/Blogs'> <i
                                    class="fa fa-rss"></i> </a>
                        </li>
                        <li>
                            <a href='http://www.twitter.com/perficient'> <i class="fa fa-twitter"></i> </a>
                        </li>
                        <li>
                            <a href='http://www.facebook.com/Perficient'> <i class="fa fa-facebook-square"></i> </a>
                        </li>
                        <li>
                            <a href='http://linkedin.com/company/perficient'> <i class="fa fa-linkedin-square"></i> </a>
                        </li>
                        <li>
                            <a href='https://www.youtube.com/user/Perficient'> <i class="fa fa-youtube"></i> </a>
                        </li>
                    </ul>
                    <!-- End Footer Icons-->
                </div>
            </div>
        </div>
    </section>
    <footer>

        <div class="desktop-footer">
            <div class="footer-slogan">
                ${footer.slogan}
            </div>
            <div class="footer-links hidden-md-up">
                <ul>
                    <!-- BEGIN FOOTER NAVIGATION MOBILE -->

                    <li>
                        <a href="${footer.privacyPolicyURL}">${footer.privacyPolicyText}</a>
                    </li>

                    <!-- END FOOTER NAVIGATION MOBILE -->
                </ul>
                <p>
                    ${footer.copyRightNotice}
                </p>
            </div>
            <button class="pull-right hidden-sm-down" type="button" id="contact-trigger-overlay">
                Contact Us
            </button>
            <div class="footer-share">
                <button class="dropdown-toggle" id="sharethis" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Share This Page
                </button>
                <!-- BEGIN SOCIAL MEDIA LINKS -->
                <!-- AddToAny BEGIN -->
                <div class="dropdown-menu sharelinks a2a_kit" aria-labelledby="sharethis">
                    <ul class="list-unstyled">
                        <li>
                            <a class="a2a_button_twitter"><i class="fa fa-twitter"></i>Twitter</a>
                        </li>
                        <li>
                            <a class="a2a_button_facebook"><i class="fa fa-facebook-square"></i>Facebook</a>
                        </li>
                        <li>
                            <a class="a2a_button_linkedin"><i class="fa fa-linkedin-square"></i>LinkedIn</a>
                        </li>
                        <li>
                            <a class="a2a_button_email"><i class="fa fa-envelope-o"></i>Email</a>
                        </li>
                    </ul>
                </div>

                <script>
				var a2a_config = a2a_config || {};
				a2a_config.linkurl = "http://www.perficient.com/404?404;http://www.perficient.com:80/autodiscover/autodiscover.xml";

                </script>
                <script async src="https://static.addtoany.com/menu/page.js"></script>
                <!-- AddToAny END -->

                <!-- END SOCIAL MEDIA LINKS -->
            </div>
        </div>

    </footer>
</sly>