<div>
    <form id="myform" onsubmit="return createPage()" enctype="multipart/form-data">
        <label>Name:</label>
        <input name="name" id="name">
        <label>Title:</label>
        <input name="title" id="title">
        <input type="hidden" name="page" value="${currentPage.path}">
        <input type="submit" value="Create Page">
    </form>

    <!--/* <ul id="pages"></ul> */-->

    <script>
        function createPage() {

        var name = $('#myform').find('input[name="name"]').val();
        var title = $('#myform').find('input[name="title"]').val();
        var currentPage = $('#myform').find('input[name="page"]').val();

        $.ajax({
         type: 'POST',
         url:'/bin/myPostServlet',
         dataType: 'JSON',
         data:{"name":name, "title":title, "page":currentPage},
         success: function(data) {
            console.log(data);
            $("#pages").append('<li><a href=' + data.path + '>' + data.title + '</a></li>');
         },
         error: function(error) {
            alert("Error");
         }
        });

        return false; // prevents page redirect after form submission
     }

    </script>
</div>