<template data-sly-template.content="${@ pageTitle}">

	<section data-sly-include="partials/addPage.html"></section>

	<div data-sly-resource="${'listChildren' @ resourceType='digital/components/content/listChildren'}"></div>
	<p>
		Welcome to the "${pageTitle}" page!
	</p>

	<div class="content_main grid_12" data-sly-resource="${'content' @ resourceType='wcm/foundation/components/parsys'}"></div>

	<h3 data-sly-use.devInfo="com.perficient.adobe.digital.core.sightly.DeveloperInfo">Developer Info: ${devInfo.developerInfo}</h3>
</template>