<div>
    <button onclick="show()">List Children</button>

    <ul id="pages"></ul>

    <script>
        function show() {

        var url = window.location.href.replace(".html",".data.html");

        $.ajax({
         type: 'GET',
         url: url,

         success: function(data) {
            var data2 = data.replace(/(<!--.*)/g, '');
            var json = $.parseJSON(data2);
            console.log(json);

            json.forEach(function(item) {
                $("#pages").append('<li><a href=' + item.link + '>' + item.name + '</a></li>');
            });

         },
         error: function(error) {
            alert(error);
         }
        });
     }

    </script>
</div>